# Supabase Environment Variables
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Paystack Environment Variables
PAYSTACK_SECRET_KEY=
PAYSTACK_PUBLIC_KEY=

# App Configuration
APP_URL=http://localhost:3000
WHATSAPP_NUMBER=09031433152
